<section class="py-5" id="introduction">
  <div class="container">
    <div class="pb-5 d-flex justify-content-center">

      <h2>
        So... What's <span class="theme-color">Cooking?</span>
      </h2>

    </div>
    <div class="copywrite d-flex justify-content-center">
      <p class="text-center">
        We are a company dedicated to helping you plan your meals! Imagine your day, waking up for work early in the
        morning,
        working all the way
        till lunch time and suddenly you think to yourself,
        "Oh dear, I don't know what to eat!".
        Well, goodbye to those days! Simply pick from our awesome catalogue of meals to suit your diet, and let us do
        the
        planning <mat-icon style="vertical-align: bottom;">mood</mat-icon> - CEO Dr Matthea Loo (D.C.Sc)
      </p>

    </div>
  </div>




</section>