<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">Review ID</th>
          <th scope="col">Review Details </th>
          <th scope="col">Rating </th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let review of reviews; index as i">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{review.reviewId}}</td>
          <td>{{review.text}}</td>
          <td>{{review.rating}}</td>
      </tr>
    </tbody>
  </table>
</div>






