<div class="card d-flex h-100">
  <img class="card-img-top img-fluid" alt="Sorry, no preview image available for this recipe :(" style="height: -webkit-fill-available; max-height: 250px"
    src='../../../../assets/images/{{recipe.image}}' />
  <div class="card-body">
    <h4 class="card-title">{{recipe.name}}</h4>
    <div class="card-text">
      <p>{{sen}}</p>
    </div>
    <div>
      <div class='time'>
        <p><i class="fa fa-clock-o" style="font-size:24px; margin-right:10px"></i>{{time}} min</p>
        <p><i class="fa fa-bolt" style="font-size:24px; margin-right:10px"></i>{{calories}} kcal</p>
      </div>
      <div class='button'>
        <a (click)="setRecipe()" routerLink="/browse/recipeMainView"><button type="button" class="btn btn-success"
            style="position: absolute; bottom: 0; right: 0; margin: 120px; margin-right:25px; ">Details</button></a>
      </div>
    </div>
    

  </div>
  <div class="card-footer bg-transparent"><small class="text-muted">Categories: {{this.categoryNames}}</small></div>
</div>