

    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" style="max-height: auto;" src='../../../../assets/images/{{recipe.image}}' />
      <div class="card-body">
        <h4 class="card-title">{{recipe.name}}</h4> 
        <div class="card-text"><p>{{sen}}</p></div>
        <div>
          <div class='time'>
          <p><i class="fa fa-clock-o" style="font-size:24px; margin-right:10px"></i>{{time}} min</p>
          <p><i class="fa fa-bolt" style="font-size:24px; margin-right:10px"></i>{{calories}} min</p>
        </div>
        <div class='button'>
           <a routerLink="/browse/recipeMainView"><button type="button" class="btn btn-success">Details</button></a> 
        </div>
        </div>
        

      </div>
    </div>
