<section class="py-5" id="services">
  <div class="container p-4">
    <h2 class="pb-4">Wow! How do I start?</h2>
    <div class="row py-3">
      <div class="col-md-1">
        <span class="steps theme-color fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="theme-invert-color fa fa-stack-1x">1</span>
        </span>

      </div>
      <div class="pt-3 col-md-7">
        <p>Start by selecting a suitable category! blah blah blah - lifeng Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Vivamus et quam gravida, congue libero non, porttitor arcu. Pellentesque bibendum vel libero
          interdum porttitor. Sed commodo porta lobortis. Ut ipsum neque, placerat a sapien vitae, laoreet tincidunt
          nisl. Fusce velit nisi, tempor tristique porta</p>

      </div>
      <div class="col-md-3">
        <img src="../../../assets/images/select.png" class="img-fluid rotate-img rounded float-right" alt="...">
      </div>
    </div>
    <div class="row py-3">
      <div class="col-md-3">
        <img src="../../../assets/images/book.png" class="img-fluid rotate-img rounded float-left" alt="...">
      </div>
      <div class="col-md-1">
        <span class="steps theme-color fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="theme-invert-color fa fa-stack-1x">2</span>
        </span>

      </div>
      <div class="pt-3 col-md-7">
        <p>Now select the recipes you'd like! blah blah blah - lifeng Phasellus vel feugiat tortor. Pellentesque at
          consequat dui. Ut elit nulla, placerat luctus laoreet id, scelerisque nec quam. Sed id ultricies magna, vel
          lobortis lorem. Proin nec massa a odio ullamcorper tempus id eu nibh. Duis pharetra orci in ipsum iaculis, vel
          volutpat purus lacinia. Sed maximus enim eros.</p>

      </div>

    </div>
    <div class="row py-3">
      <div class="col-md-1">
        <span class="steps theme-color fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="theme-invert-color fa fa-stack-1x">3</span>
        </span>

      </div>

      <div class="pt-3 col-md-7">
        <p>Let us know your availability, where to deliver and we will handle the rest! blah blah blah - lifeng Maecenas
          feugiat ante in dictum dapibus. Cras dapibus tellus vel viverra euismod. Pellentesque posuere massa a egestas
          egestas. Integer consectetur turpis eget erat egestas, quis scelerisque mi aliquam. Donec condimentum tortor
          quis tempus mattis.</p>

      </div>

      <div class="col-md-3">
        <img src="../../../assets/images/rate.png" class="img-fluid rounded float-left" alt="...">
      </div>

    </div>

  </div>

</section>