<section class="py-5" id="services">
  <div class="container p-4">
    <h2 class="pb-4">Wow! What can I expect?</h2>
    <div class="row py-3">
      <div class="col-md-1">
        <span class="steps theme-color fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="theme-invert-color fa fa-stack-1x">1</span>
        </span>

      </div>
      <div class="pt-3 col-md-7">
        <h3>Fuss-free, Easy and Delicious</h3>
        <p>In each RedApron crate you receive, comes with fresh ingredients that are specifically measured and
          conveniently compartmentalised.
          All you have to do is to follow our recommended recipe attached (or your own) and cook up a gourmet meal
          easily.
        </p>

      </div>
      <div class="col-md-3">
        <img src="../../../assets/images/online-shop-hand.png" class="img-fluid rounded float-right" alt="...">
      </div>
    </div>
    <div class="row py-3">
      <div class="col-md-3">
        <img src="../../../assets/images/book.png" class="img-fluid rotate-img rounded float-left" alt="...">
      </div>
      <div class="col-md-1">
        <span class="steps theme-color fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="theme-invert-color fa fa-stack-1x">2</span>
        </span>

      </div>
      <div class="pt-3 col-md-7">
        <h3>Straight-forward, friendly assistance.</h3>
        <p> The ordering process is straight-forward and fast. Let us know your availability, where to deliver and we
          will handle the rest! Should you require any assistance, an enquiry can quickly be sent through <a
            href="#contactForm">here</a>. We will glady assist you! </p>


      </div>

    </div>
    <div class="row py-3">
      <div class="col-md-1">
        <span class="steps theme-color fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="theme-invert-color fa fa-stack-1x">3</span>
        </span>

      </div>

      <div class="pt-3 col-md-7">
        <p> blah blah blah - lifeng Maecenas
          feugiat ante in dictum dapibus. Cras dapibus tellus vel viverra euismod. Pellentesque posuere massa a egestas
          egestas. Integer consectetur turpis eget erat egestas, quis scelerisque mi aliquam. Donec condimentum tortor
          quis tempus mattis.</p>

      </div>

      <div class="col-md-3">
        <img src="../../../assets/images/rate.png" class="img-fluid rounded float-left" alt="...">
      </div>

    </div>

  </div>

</section>