<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>

<mat-grid-list cols=2 rowHeight="1:2" rowHeight="500px">
    <mat-grid-tile>
        <mat-card class="recipeCard">
          <mat-card-header>
            <mat-card-title><h2>Chicken Rice</h2></mat-card-title>
            <mat-card-subtitle>With extra chilli</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <br>
          <mat-card-content>
            <mat-grid-list cols="3" rowHeight="2:1">
              <mat-grid-tile>
                <mat-icon style="font-size: 50px" id="alarmIcon">alarm</mat-icon>
              </mat-grid-tile>
              <mat-grid-tile><mat-icon style="font-size: 50px">restaurant</mat-icon></mat-grid-tile>
              <mat-grid-tile><mat-icon style="font-size: 50px">directions_run</mat-icon></mat-grid-tile>
              <mat-grid-tile><h4>30 min</h4></mat-grid-tile>
              <mat-grid-tile><h4>2 servings</h4></mat-grid-tile>
              <mat-grid-tile><h4>850 calories</h4></mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
            <br>
            <p>
                Hainanese chicken rice is a dish of poached chicken and seasoned rice, served with chili sauce and usually comes with cucumber garnishes. It was created by immigrants from Hainan province in southern China and adapted from the Hainanese dish Wenchang chicken
            </p>
          </mat-card-content>
          <button mat-raised-button color="warn">GET COOKING</button>
        </mat-card>
        
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="recipePic" src="../../../../assets/images/0401_2PV1_Veg-Gnocchi_011_Square_Web_hi_res.jpg">
    </mat-grid-tile> 
  </mat-grid-list>
  