<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>

<mat-grid-list cols=2 rowHeight="1:2" rowHeight="500px">
    <mat-grid-tile>
        <mat-card class="recipeCard">
          <mat-card-header>
            <mat-card-title><h2>{{recipe.name}}</h2></mat-card-title>
            <mat-card-subtitle>{{sen}}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <br>
          <mat-card-content>
            
              <div class="row justify-content-center">

                  <div class="col-md-3">
                      <mat-icon style="font-size: 50px" id="alarmIcon">alarm</mat-icon>
                  </div>
                  
                    <div class="col-md-3"><mat-icon style="font-size: 50px">directions_run</mat-icon></div>
      
              </div>
              <div class="row  justify-content-center">
                  <div class="col-md-3"><h4>&nbsp; {{time}}</h4></div>
                  <div class="col-md-3"><h4>{{calories}}</h4></div>
                
              </div>

            <mat-divider></mat-divider>
            <br>
            <p>
                Ingredients : {{recipe.ingredients}}
            </p>
          </mat-card-content>
          <!-- <button mat-raised-button color="warn">GET COOKING</button> -->
        </mat-card>
        
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="recipePic" src='../../../../assets/images/{{recipe.image}}'>
    </mat-grid-tile> 
  </mat-grid-list>
  