<div class="container" style="background: white;">
  <app-tracking-map></app-tracking-map>

</div>
<!-- 
 app-review-past-recipes -->

<!-- <tbody>
  <tr> *ngFor="let subscriptionPlan of subscriptionPlans" ; index as i">
    <th scope="row">{{ i+1 }}</th>
    <td>
        <app-review-past-recipes></app-review-past-recipes>
    </td>
  </tr>
</tbody> -->


<div class="row pb-5">
    <div class="col-md-3">
      <app-review-past-recipes></app-review-past-recipes>
    </div>
    <div class="col-md-3">
      <app-review-past-recipes></app-review-past-recipes>
    </div>
    <div class="col-md-3">
      <app-review-past-recipes></app-review-past-recipes>
    </div>
    <div class="col-md-3">
      <app-review-past-recipes></app-review-past-recipes>
    </div>
</div>