<div class="container" style="background: white;">
  <app-tracking-map></app-tracking-map>

</div>

<!-- <tbody>
  <tr> *ngFor="let subscriptionPlan of subscriptionPlans" ; index as i">
    <th scope="row">{{ i+1 }}</th>
    <td>
        <app-review-past-recipes></app-review-past-recipes>
    </td>
  </tr>
</tbody> -->

<hr>

<div class="container">
  <div class="row pb-5">
    <div class="col-md-3" *ngFor="let num of numOfRecipes">
      <app-review-past-recipes [num]="num"></app-review-past-recipes>
    </div>
  </div>
</div>

<!-- <div class="row pb-5">
  <div class="col-md-3">
    <app-review-past-recipes></app-review-past-recipes>
  </div>
  <div class="col-md-3">
    <app-review-past-recipes></app-review-past-recipes>
  </div>
  <div class="col-md-3">
    <app-review-past-recipes></app-review-past-recipes>
  </div>
  <div class="col-md-3">
    <app-review-past-recipes></app-review-past-recipes>
  </div>
</div> -->