<div class="row" style="width:inherit; padding: 0">
  <div class="col-md-3">
    <img alt="Card image cap" class="card-img-top img-fluid" style="width: 80%; margin-left: 30px"
      src="../../../../assets/images/subform.png" />

  </div>
  <div class="col-md-9" style="margin-left:0; line-height: 0.5">
    <h6 style="font-weight:bold">Healthy for 2</h6>
    <p>Cras sit amet nibh libero, in gravida nulla.</p>
    <p>Duration: 3 Weeks</p>
    <p>Recipes/Week: 3</p>
    <p>Delivery Day: Mon</p> 
  </div>
</div>
<hr>