<div class="full-size fade-color">
  <div class=" container">
    <mat-card-title-group>
      <div class="card-group">
        <div class="card" style="width: 55rem; border: 0; ">
          <div class="card-body">
            <h5 class="card-title">My Bag</h5>
            <h6 class="card-title" style="text-align: right">Item(s) are reserved for 60 minutes </h6>
            <hr class="my-4">

             <!--List of carts-->
            <ul class="list-group">
              <li class="list-group-item" style="border: 0">
                <div class="media">
                  <img src="../../../../assets/images/0401_2PV1_Veg-Gnocchi_011_Square_Web_hi_res.jpg" width="120px"
                    class="mr-3" alt="...">
                  <div class="media-body">
                    <!--remove the cart button-->
                      <button type="button" class="close" aria-label="Close" style="text-align: right">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <h5 class="mt-0">Healthy for 2</h5>
                    Cras sit amet nibh libero, in gravida nulla. <br />

                    <!--No of recipes and deliver day-->
                    <div class="row">
                      <div class="pr-0 col-sm-3">
                        <br />
                        <p style="vertical-align: center; margin:0;">No of recipes</p>
                      </div>
                      <div class="px-0 col-sm-2">
                        <div class="form-group" style="width: 70px">
                          <label for="numOfRecipes"></label>
                          <select name="numOfRecipes" id="numOfRecipes" class="form-control">
                            <!-- [(ngModel)]="contact.contactMethod"> -->
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                          </select>
                        </div>
                      </div>
                      <div class="pr-0 col-sm-3">
                          <br />
                          <p style="vertical-align: center; margin:0;">Delivery Day</p>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group" style="width: 70px ">
                            <label for="numOfRecipes"></label>
                            <select name="numOfRecipes" id="numOfRecipes" class="form-control">
                              <!-- [(ngModel)]="contact.contactMethod"> -->
                              <option>Sunday</option>
                              <option>Monday</option>
                              <option>Tuesday</option>
                              <option>Wednesday</option>
                              <option>Thurday</option>
                              <option>Friday</option>
                              <option>Saturday</option>
                            </select>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
                <hr class="my-4">
              </li>
              <li class="list-group-item" style="border: 0">

                <div class="media">
                  <img src="../../../../assets/images/0401_2PV1_Veg-Gnocchi_011_Square_Web_hi_res.jpg" width="120px"
                    class="mr-3" alt="...">
                  <div class="media-body">
                    <!--remove the cart button-->
                    <button type="button" class="close" aria-label="Close" style="text-align: right">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <h5 class="mt-0">Baking for 2</h5>
                    Cras sit amet nibh libero, in gravida nulla.
                    
                    <!--No of recipes and deliver day-->
                    <div class="row">
                        <div class="pr-0 col-sm-3">
                          <br />
                          <p style="vertical-align: center; margin:0;">No of recipes</p>
                        </div>
                        <div class="px-0 col-sm-2">
                          <div class="form-group" style="width: 70px">
                            <label for="numOfRecipes"></label>
                            <select name="numOfRecipes" id="numOfRecipes" class="form-control">
                              <!-- [(ngModel)]="contact.contactMethod"> -->
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                          </div>
                        </div>
                        <div class="pr-0 col-sm-3">
                            <br />
                            <p style="vertical-align: center; margin:0;">Delivery Day</p>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group" style="width: 70px ">
                              <label for="numOfRecipes"></label>
                              <select name="numOfRecipes" id="numOfRecipes" class="form-control">
                                <!-- [(ngModel)]="contact.contactMethod"> -->
                                <option>Sunday</option>
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thurday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                              </select>
                            </div>
                          </div>
                      </div>
  
                  </div>
                </div>
                <hr class="my-4">
              </li>
              <li class="list-group-item" style="border: 0">
                <div class="media">
                  <img src="../../../../assets/images/0401_2PV1_Veg-Gnocchi_011_Square_Web_hi_res.jpg" width="120px"
                    class="mr-3" alt="...">
                  <div class="media-body">
                    <!--remove the cart button-->
                    <button type="button" class="close" aria-label="Close" style="text-align: right">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <h5 class="mt-0">Seasonal festive for 2</h5>
                    Cras sit amet nibh libero, in gravida nulla.
                    
                    <!--No of recipes and deliver day-->
                    <div class="row">
                        <div class="pr-0 col-sm-3">
                          <br />
                          <p style="vertical-align: center; margin:0;">No of recipes</p>
                        </div>
                        <div class="px-0 col-sm-2">
                          <div class="form-group" style="width: 70px">
                            <label for="numOfRecipes"></label>
                            <select name="numOfRecipes" id="numOfRecipes" class="form-control">
                              <!-- [(ngModel)]="contact.contactMethod"> -->
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                          </div>
                        </div>
                        <div class="pr-0 col-sm-3">
                            <br />
                            <p style="vertical-align: center; margin:0;">Delivery Day</p>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group" style="width: 70px ">
                              <label for="numOfRecipes"></label>
                              <select name="numOfRecipes" id="numOfRecipes" class="form-control">
                                <!-- [(ngModel)]="contact.contactMethod"> -->
                                <option>Sunday</option>
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thurday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                              </select>
                            </div>
                          </div>
                      </div>
  
                  </div>
                </div>
              </li><br/><br/>
                <div style="text-align: right"><h6>SUB-TOTAL SGD$ 70.39</h6></div>
            </ul>
          </div>
        </div>

        <mat-card-title-group >
          <div class="card" style="border: 0; width: 22rem; height: 30rem;">
            <div class="card-body">
              <h5 class="card-title">TOTAL</h5>
              <hr class="my-4">
              <ul class="list-group">
                <li class="list-group-item" style="border: 0">
                  <div class="row">
                      <div class="pr-0 col-sm-6">
                        <h6 class="card-text">Sub-total</h6>
                      </div>
                      <div class="pr-0 col-sm-6">
                        <h6 style="text-align: right">SGD$ 70.39</h6>
                      </div> 
                  </div>
                  
                  <h6 class="card-text">Delivery</h6>
                  <p class="card-text"><small class="text-muted">Standard Delivery (SGD $1.99)</small></p>
                  <hr class="my-4">
                  <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button><br />
                  <h6 class="card-text">WE ACCEPT: </h6><br />
                  <div class="card-group">
                    <img src="../../../../assets/images/visa.png" height="30" width="50px" />
                    <img src="../../../../assets/images/paypal.png" height="30" width="50px" />
                    <img src="../../../../assets/images/mastercard.png" height="30" width="50px" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </mat-card-title-group>
      </div>
    </mat-card-title-group>
  </div>
</div>

<script>
    var closebtns = document.getElementsByClassName("close");
    var i;
    
    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function() {
        this.parentElement.style.display = 'none';
      });
    }
</script>

<!-- <img src="..." class="card-img-top" alt="..."> -->