<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="container">

    

  <mat-card class="recommendedPicksCard">
    <mat-card-header>

    
      <mat-card-title>
          <div class="row py-5">
              <div class="col-md-12">
                  <img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/browseHeader.png" />
                </div>
            </div>
        <h2>random picks</h2>
      </mat-card-title>
      <mat-card-subtitle>don't know where to start? here are some delicious recipes you can try!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="row pb-5">
        <div class="col-md-3" *ngFor="let num of randomNums">
          <app-recipe-card [num] = "num"></app-recipe-card>
        </div>

      </div>

      <div class="row pb-5">
        <div class="col-md-7">
          <a (click) = "setCategories('Healthy')" routerLink="/browse/categoryMain"><img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/cat1.png" /></a>
        </div>
        <div class="col-md-5">
          <a (click) = "setCategories('Quick')" routerLink="/browse/categoryMain"><img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/cat2.png" /></a>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-5">
          <a (click) = "setCategories('Vegetarian')" routerLink="/browse/categoryMain"><img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/cat3.png" /></a>
        </div>
        <div class="col-md-7">
          <a (click) = "setCategories('Baking')" routerLink="/browse/categoryMain"><img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/cat4.png" /></a>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-7">
          <a (click) = "setCategories('Signature')" routerLink="/browse/categoryMain"><img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/cat5.png" /></a>
        </div>
        <div class="col-md-5">
          <a (click) = "setCategories('Seasonal')" routerLink="/browse/categoryMain"><img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/cat6.png" /></a>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>