
<mat-grid-list cols=2 rowHeight="1:2" rowHeight="500px">
  <mat-grid-tile>
      <mat-card class="recipeCard">
        <mat-card-header>
          <mat-card-title><h2>Chicken Rice</h2></mat-card-title>
          <mat-card-subtitle>With extra chilli</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
          <p>
              Hainanese chicken rice is a dish of poached chicken and seasoned rice, served with chili sauce and usually comes with cucumber garnishes. It was created by immigrants from Hainan province in southern China and adapted from the Hainanese dish Wenchang chicken
          </p>
        </mat-card-content>
        <button mat-raised-button color="warn">GET COOKING</button>
      </mat-card>
      
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="recipePic" src="../../../../assets/images/0401_2PV1_Veg-Gnocchi_011_Square_Web_hi_res.jpg">
  </mat-grid-tile> 
</mat-grid-list>
