<footer class="theme-bg theme-invert-color" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img class="img-fluid" src="../../../assets/images/logo1.png">
         <h3 style="font-weight:300; margin: 0%">Red<span style="color: #fe6e63; margin: 0%">Apron</span></h3>
        </div>
  
      <div class="col-md-3">
          <div class="sidenav">
              <ul> 
                <li>
                <h5>Sitemap</h5>
              </li>
                <li>
                  <a href="#">How does this work?</a></li>
                <li>
                  <a href="#">What's cookin'</a></li>
                <li>
                  <a href="#">Register Now</a></li>
                <li>
                  <a href="#">Contact Us</a></li>
              </ul>
    
            </div>
          </div>
      <div class="col-md-3">
        <div class="sidenav">
          <ul>
            <li>
              <h5>About Us</h5>
            <li>
              <a href="#">Our Story</a></li>
            <li>
              <a href="#">Our Team</a></li>
            <li>
              <a href="#">Contact</a></li>
          </ul>

        </div>
      </div>
      <div class="col-md-3">
        <div class="sidenav">
          <h4>Find Us Here</h4>
            <small>National University of Singapore
                15 Computing Drive
                Building COM2, Level 4, Room 7
                Singapore 117418</small>
                <br />
                <br />
                <i class="fa fa-phone"></i>&nbsp;&nbsp;<small>(+65) 6516 6731</small>
                <br />
                <i class="fa fa-envelope"></i>&nbsp;&nbsp;<small>redapron@gmail.com/spam</small>
        </div>
      </div>
    </div>
    <div class="rowBot">
        <i class="fa fa-copyright"></i>&nbsp;&nbsp;<small>Red Apron 2019</small>
    </div>
  </div>
</footer>