.navbar-default {
    background-color:#683ab7;
   }

.cart-count-circle {
    font-size: 28px;
    top: -11px;
    left: 15px;
    color: #303038;
}

.cart-count {
    font-size: 18px;
    top: -12px;
    left: 15px;
    color: #fff;
}