<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#f9453b;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/home" routerLinkActive="active" class="nav-link" href="#">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="/browse" routerLinkActive="active" class="nav-link" href="#">Browse <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="/recipeMainView" routerLinkActive="active" class="nav-link" href="#">RecipeMain <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="sessionService.getIsLogin() == false">
        <a routerLink="/userLogin" routerLinkActive="active" class="nav-link" href="#">Login <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="sessionService.getIsLogin() == false">
        <a routerLink="/userRegister" routerLinkActive="active" class="nav-link" href="#">Register <span
            class="sr-only">(current)</span></a>
      </li>
      
      <li>
        <a routerLink="/cart" routerLinkActive="active" class="nav-link" href="#">Cart<span
            class="sr-only">(current)</span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <!-- <div *ngIf="sessionService.getIsLogin() == true">
          
              <a routerLink="/userProfile" routerLinkActive="active" class="nav-link" href="#"><i class="fa fa-user-circle" style="font-size:larger; color:white"></i> <span
                  class="sr-only">(current)</span></a>
           
      </div> -->
      <div *ngIf="sessionService.getIsLogin() == true">
      <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-light" style="border: 0;" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-user-circle" style="font-size:larger; color:white"></i></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a ngbDropdownItem routerLink="/userProfile" class="nav-link" href="#">Profile<span
                class="sr-only">(current)</span></a>
            <button ngbDropdownItem (click)="userLogout()">Logout</button>
          </div>
      </div>
    </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-light" style="border: 0;" id="dropdownBasic1" ngbDropdownToggle><i
            class="fa fa-shopping-cart" style="font-size:larger"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 500px;">
          <h5 style="text-align: center"><span style="font-weight: bold">My Cart, </span><span style="color: gray">4
              items</span></h5>
          <br />
          <div style="overflow-y: scroll; max-height:400px;">
            <div class="row">
              <app-cart-item></app-cart-item>
            </div>
            <div class="row">
              <app-cart-item></app-cart-item>
            </div>
            <div class="row">
              <app-cart-item></app-cart-item>
            </div>
            <div class="row">
              <app-cart-item></app-cart-item>
            </div>
          </div>
          <h5 style="margin-left: 270px;"><span style="font-weight: bold">Sub-total: </span><span>&nbsp;SGD$100</span>
          </h5>
          <hr>
          <div class="row" style="margin:5px">
            <button type="submit" class="btn btn-outline-secondary" style="margin-left: 25px">Clear</button>
            <button type="submit" class="btn btn-success" style='margin-left: 270px'>View Cart</button>
          </div>

        </div>
      </div>
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
</nav>