<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#f9453b;">
  <div class="p-1 mr-5 justify-content-center" style="background-color: #303038; border-radius:50% 50% 15% 15%">
      <a class="navbar-brand" style="margin:5px" href="#">Red <span class="theme-color">Apron</span></a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/home" routerLinkActive="active" class="nav-link" href="#">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="/browse" routerLinkActive="active" class="nav-link" href="#">Browse <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="sessionService.getIsLogin() == false">
        <a routerLink="/userLogin" routerLinkActive="active" class="nav-link" href="#">Login <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="sessionService.getIsLogin() == false">
        <a routerLink="/userRegister" routerLinkActive="active" class="nav-link" href="#">Register <span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a routerLink="/cart" routerLinkActive="active" class="nav-link" href="#">Cart<span
            class="sr-only">(current)</span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <!-- <div *ngIf="sessionService.getIsLogin() == true">
          
              <a routerLink="/userProfile" routerLinkActive="active" class="nav-link" href="#"><i class="fa fa-user-circle" style="font-size:larger; color:white"></i> <span
                  class="sr-only">(current)</span></a>
           
      </div> -->
      <div *ngIf="sessionService.getIsLogin() == true">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-light" style="border: 0;" id="dropdownBasic1" ngbDropdownToggle><i
              class="fa fa-user-circle" style="font-size:larger; color:white"></i></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a ngbDropdownItem routerLink="/userProfile" class="nav-link" href="#">Profile<span
                class="sr-only">(current)</span></a>
              <a ngbDropdownItem routerLink="/userTransactions" class="nav-link" href="#">Transactions<span
                class="sr-only">(current)</span></a>
            <button ngbDropdownItem (click)="userLogout()">Logout</button>
          </div>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-light" style="border: 0;" id="dropdownBasic1" ngbDropdownToggle>
          <span class="fa-stack fa-2x">
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
            <i class="cart-count-circle fa fa-circle fa-stack-1x"></i>
            <i class="fa-stack-1x cart-count">{{ size == null ? 0 : size }}</i>
          </span>
        </button>


        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 500px;">
          <h5 style="text-align: center"><span style="font-weight: bold">My Cart, </span><span
              style="color: gray">{{size}}
              item(s)</span></h5>
          <br />
          <div style="overflow-y: scroll; max-height:400px;">
            <div *ngFor="let x of cart">
              <div class="row">

                <div class="row" style="width:inherit; padding: 0">
                  <div class="col-md-3">
                    <img alt="Card image cap" class="card-img-top img-fluid" style="width: 80%; margin-left: 30px"
                      src="../../../../assets/images/subform.png" />

                  </div>
                  <div class="col-md-9" style="margin-left:0; line-height: 0.5">
                    <h6 style="font-weight:bold">Category Name: {{x.category.name}}</h6>
                    <p>Duration: {{x.numOfWeeks}} weeks</p>
                    <p>Recipes/Week: {{x.numOfRecipes}}</p>
                    <p>Delivery Day: {{x.deliveryDay}}</p>
                    <p>Price: ${{x.category.price * x.numOfWeeks + x.numOfRecipes * 2.5 }}</p>
                  </div>
                </div>

              </div>
            </div>
            <!-- <div class="row">
              <app-cart-item></app-cart-item>
            </div>
            <div class="row">
              <app-cart-item></app-cart-item>
            </div>
            <div class="row">
              <app-cart-item></app-cart-item>
            </div>
            <div class="row">
              <app-cart-item></app-cart-item>
            </div> -->
          </div>
          <h5 style="margin-left: 270px;"><span style="font-weight: bold">Sub-total:
            </span><span>&nbsp;${{totalPrice}}</span>
          </h5>
          <hr>
          <div class="row" style="margin:5px">
            <button type="button" class="btn btn-outline-secondary" style="margin-left: 25px"
              (click)="clearCart()">Clear</button>
            <button type="submit" class="btn btn-success" style='margin-left: 270px'>View Cart</button>
          </div>

        </div>
      </div>
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
</nav>