<div class="card d-flex h-100">
  <img alt="Card image cap" class="card-img-top img-fluid" style="height: -webkit-fill-available; max-height: 250px" src="../../../../assets/images/{{recipe.image}}" />
  <div class="card-body">
    <h4 class="card-title">{{recipe.name}}</h4>
    <div class="card-text"><p>{{sen}}</p></div>
    <div>

      <!-- <div class='time'>
      
      <p><i class="fa fa-clock-o" style="font-size:24px; margin-right:10px"></i>25-01-19</p>
    </div> -->

    <button mat-raised-button (click)="openDialog()">Create Review</button>
    </div>
  </div>
</div>
