<div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/step1.jpg" />
  <div class="card-body">
    <h4 class="card-title">{{recipe.name}}</h4>
    <div class="card-text"><p>{{recipe.shortDescription}}}</p></div>
    <div>
      <div class='time'>
      
      <p><i class="fa fa-clock-o" style="font-size:24px; margin-right:10px"></i>25-01-19</p>
    </div>
    <div class='button'>
       <a routerLink="#"><button type="button" class="btn btn-success">Add Reviews</button></a> 
    </div>
    </div>
  </div>
</div>
