<div class="container">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Transaction #</th>
          <th scope="col">Date: </th>
          <th scope="col">Payment Type: </th>
          <th scope="col">Amount: </th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; index as i">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{ transaction.paymentDate }}</td>
          <td>{{ transaction.paymentType }}</td>
          <td>{{ transaction.amount }}</td>
          <!-- <td>{{ enquiry.created }}</td>
          <td><button mat-raised-button (click)="openDialog(enquiry.answerData, enquiry.staffName)">View Answer</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>