<div class="py-5 container" style="margin-left: 55px;">
  <ngb-accordion #acc="ngbAccordion">

    <ngb-panel>

      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="accordion-button">
          <div class="sidebar-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Healthy</h5><i class="fa fa-lg fa-pull-right fa-heart"></i>
          </div>
          <!-- <p>{{healthy[0]}}</p> -->
        </button>

      </ng-template>
      <ng-template ngbPanelContent>
        <ul *ngFor="let cat of healthy">
          <li>{{cat.name}}</li>
          <hr>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel >
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="accordion-button">
          <div class="sidebar-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Quick & Easy</h5><i class="fa fa-lg fa-pull-right fa-smile-o"></i>
          </div>
        </button>

      </ng-template>
      <ng-template ngbPanelContent>
        <ul *ngFor="let cat of quick">
          <li>{{cat.name}}</li>
          <hr>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="accordion-button">
          <div class="sidebar-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Vegetarian</h5>&nbsp;<i class="fa fa-leaf"></i>
          </div>
        </button>

      </ng-template>
      <ng-template ngbPanelContent>
        <ul *ngFor="let cat of vegetarian">
          <li>{{cat.name}}</li>
          <hr>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="accordion-button">
          <div class="sidebar-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Baking</h5><i class="fa fa-lg fa-pull-right fa-birthday-cake"></i>
          </div>
        </button>

      </ng-template>
      <ng-template ngbPanelContent>
        <ul *ngFor="let cat of baking">
          <li>{{cat.name}}</li>
          <hr>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="accordion-button">
          <div class="sidebar-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Signature</h5><i class="fa fa-lg fa-pull-right fa-thumbs-up"></i>
          </div>
        </button>

      </ng-template>
      <ng-template ngbPanelContent>
        <ul *ngFor="let cat of signature">
          <li>{{cat.name}}</li>
          <hr>
        </ul>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="accordion-button">
          <div class="sidebar-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Seasonal Specials</h5><i class="fa fa-lg fa-pull-right fa-calendar"></i>
          </div>
        </button>

      </ng-template>
      <ng-template ngbPanelContent>
        <ul *ngFor="let cat of seasonal">
          <li>{{cat.name}}</li>
          <hr>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>