<header>
    <div class="overlay">
    <video playsinline="playsinline" autoplay="autoplay" loop="loop">
      <source src="../../../assets/videos/header.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <div class="header-text">
            <h1 class="display-3 ">Red<span class="theme-color">Apron</span> </h1>
            <p class="lead mb-0">Bring your own apron.</p>
          </div>
          <div class="justify-content-md-center row">
            <div class="col-md-3">
              <a href="#introduction" class="btn btn-sm animated-button thar-two"><span class="text-uppercase lead">Hungry? Let's eat. &nbsp;</span>
                <i class="fa fa-arrow-down"></i>
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>
