<header>
  <div>
    <img alt="Card image cap" class="card-img-top img-fluid" src="../../../../assets/images/categoryMainHeader.png" />
  </div>
  <button type="button" class="btn btn-info btn-lg">Subscribe <i class="fa fa-plus-circle"></i></button>
</header>

<div class="row">
  <div class="col-md-3">
    <app-category-side-bar></app-category-side-bar>
  </div>
  <div class="col-md-9">

    <div class="container">
      <div class="row py-5">
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
      </div>

      <div class="row py-5">
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
      </div>

      <div class="row py-5">
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
        <div class="col-md-4">
          <app-recipe-card></app-recipe-card>
        </div>
      </div>
    </div>
  </div>
</div>